@charset "utf-8"
// modify the bulma variables here
$primary: #4e886c
$dark: #dddfd7
$success: #fdef25
$warning: #EB6418
$text: #292426
$link: $primary
$text-strong: #292426
$footer-background-color: $dark
$footer-padding: 1.5rem 1.5rem 2rem
$table-background-color: transparent
$border: white
$table-cell-border: 2px solid $border
$radius-large: 15px
$navbar-item-hover-color: $primary
$navbar-item-active-color: $primary
$navbar-dropdown-item-active-color: $primary
$navbar-dropdown-item-hover-color: $primary
$navbar-dropdown-arrow: $primary
$family-primary: 'Cairo', sans-serif
$family-secondary: 'Comfortaa', sans-serif
$size-1: 4.5rem
$size-2: 3.2rem
$size-3: 2.4rem
$size-4: 2.1rem
$size-5: 1.7rem
$size-medium: 1.6rem
$gap: 32px !default
$desktop: 1050px + (2 * $gap)
$fullhd: 1600px + (2 * $gap) !default
// Import Bulma and Buefy styles
@import "bulma/bulma"
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap')

//GENERAL:

*, *::before, *::after
  box-sizing: border-box
  margin: 0
  padding: 0

html
  font-size: 110%

body
  min-height: 100vh
  display: flex
  flex-direction: column
  justify-content: start
  background-image: linear-gradient(0deg, rgba(221,223,215,0.25) 0%, rgba(255,255,255,0) 100%)

.container
  padding: 0 .5rem

.button
  height: auto
  white-space: normal

.menu-avatar
  overflow: hidden
  border: 1px solid $primary
  border-radius: 50%

.section
  padding: 30px 5px
  
.hero-body
  padding: 0

.footer
  margin-top: auto

.curved-section
  padding: 80px 0

.section-high
  padding: 100px 0

.box
  padding: 1.5rem 2rem

.box-wide
  width: 100%

.box-dark
  background-color: $dark
  box-shadow: 0 0 30px -5px #BBBBBB

.game-img
  max-height: 600px

.topcurve
  width: 100%
  height: 400px
  margin-top: -350px
  margin-bottom: -1px
  background-image: url('/images/uppercurve.svg')
  background-position-x: 50%

.bottomcurve
  width: 100%
  height: 400px
  margin-bottom: -320px
  margin-top: -1px
  background-image: url('/images/uppercurve.svg')
  background-position-x: 50%
  transform: rotate(180deg)

.spacer
  height: 75px

.big-paragraph
  font-size: 12rem

.color-text
  color: ($text !important)

// FORMS:

.control
  margin-bottom: 1rem

form
  .button
    margin-bottom: 1.5rem
    margin-top: 1rem

@mixin fileinput()
  display: block
  position: absolute
  top: 0
  left: 0
  height: 100%
  padding: .3em .6em
  padding-left: 28px
  background-image: url('/images/upload.svg')
  background-repeat: no-repeat
  background-position: 8px center
  block-size: contain
  border: none
  background-color: $primary
  color: white
  font-family: Cairo
  line-height: 1
  &:hover
    cursor: pointer

.input[type=file]
  padding-left: 140px
  &::-webkit-file-upload-button
    @include fileinput()
  &::file-selector-button
    @include fileinput()

input[type=checkbox] 
  position: relative
  cursor: pointer
  margin-right: 10px
    
input[type=checkbox]:before 
  content: ""
  display: block
  position: absolute
  width: 16px
  height: 16px
  top: 0
  left: 0
  border: 2px solid #000000
  border-radius: 3px
  background-color: white

input[type=checkbox]:checked:after 
  content: ""
  display: block
  width: 5px
  height: 10px
  border: solid $primary
  border-width: 0 2px 2px 0
  -webkit-transform: rotate(45deg)
  -ms-transform: rotate(45deg)
  transform: rotate(45deg)
  position: absolute
  top: 2px
  left: 6px


@media screen and ( min-width: 600px )
  .box
    padding: 2.5rem 3rem
  .clock-wrapper
    margin-left: 50px

@media screen and ( min-width: 1200px )
  .topcurve
    margin-top: -250px
  .bottomcurve
    margin-bottom: -220px
  .game-section
    margin-top: 100px

@media screen and ( max-width: 450px )
  .table td, .table th
    padding: .2rem .1rem






// clock

.clock-wrapper
  position: relative

.clock-outerring
  position: relative
  width: 250px
  height: 250px
  border-radius: 50%
  border: 5px solid $primary
  overflow: hidden
  box-shadow: inset 0px 0px 15px $primary

.clock-blick1
  position: absolute
  z-index: 10
  top: 0
  left: 0
  height: 100%
  width: 100%
  background-image: linear-gradient(-70deg, rgba(255,255,255,0) 18%, rgba(255,255,255,0.2) 32%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 64%, rgba(255,255,255,0.2) 70%, rgba(255,255,255,0) 76%, rgba(255,255,255,0) 83%, rgba(255,255,255,0.15) 87%, rgba(255,255,255,0) 92%), linear-gradient(0deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.3) 10%, rgba(255,255,255,0.3) 44%, rgba(255,255,255,0) 100%)
  block-size: cover

.clock-face1, .clock-face2
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%

.clock-face1
  background-color: $warning
  clip-path: polygon(50% 50%, 50% 0, 100% 0)

.clock-face2
  background-color: $success
  clip-path: polygon(50% 50%, 100% 0, 100% 50%)

.clock-face3, .clock-face4, .clock-face5, .clock-face6
  position: absolute
  top: 50%
  left: 50%
  width: 90%
  height: 90%
  transform: translate(-50%, -50%)
  border-radius: 50%

.clock-face3
  background-color: #53cc238c
  clip-path: polygon(50% 50%, 50% 0, 0 0, 0 100%, 100% 100%, 100% 50%)

.clock-face4
  background-color: #fff

.clock-face5
  width: 80%
  height: 80%
  background-color: #fff

.clock-face6
  width: 60%
  height: 60%
  background-color: $primary
  box-shadow: inset 0px 0px 30px #0000003d

.clock-tip
  position: absolute
  width: 2px
  height: 54%
  top: 8px
  left: 50%
  transform: translateX(-50%)
  background-color: #303030

.clock-tipmark
  width: 6px
  height: 6px
  position: absolute
  top: 5%
  left: 50%
  transform: translateX(-50%)
  background-color: $warning
  border-radius: 50%

.clock-pin
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  width: 5px
  height: 5px
  background-color: #303030
  border-radius: 50%
